@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

$tealtext: #1692B3;


body {
  color: #222;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

nav {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 11.8%;
  position: absolute;
  background-color: white;
  height: 80px;
  border-bottom: 1px solid #DBDBD7;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
};

.leftnav {
  display: inline-block;
  float: left;
  position: relative;
  top: 10px;
}

.rightnav {
  display: inline-block;
  float: right;
  position: relative;
  top: 13px;
}

.logo {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 90px;
  height: 50px;
}

.search {
  display: inline-block;
}

.searchtext,.searchbtn{
  display: block;
  float: left;
}

.searchtext {
  height: 34px;
  width: 250px;
}

.searchbtn {
  background-color: #39AAC5;
  border: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
}

.btn {
  padding: 7px 5px 8px 5px;
}

.rnBtn {
  float: right;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 13px;
}

.browse {
  position: relative;
  bottom: 13px;
  margin-left: 20px;
  background-color: white;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  color: #666666;
}

// .browse:after {
//   content: " "
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 8px 4.5px 0 4.5px;
//   border-color: #cacaca transparent transparent transparent;
// }

.regBtn {
  background-color: white;
  border: none;
  color: $tealtext;
}

.siBtn {
  margin-right: 20px;
  background-color: white;
  border: 1px solid #0192B5;
  border-radius: 3px;
  color: $tealtext;
}

.cart {
  height: 40px;
  display: block;
  padding: 0 10px;
  background-color: white;
  border: none;
  border-left: #EEEEEE 1px solid;
}

.cartItem {
  display: block;
}

.cartPng {
  width: 20px;
}

.mainWrapper {
  position: relative;
  top: 80px;
  display: block;
  background-color: #F5F5F1;
};

.mainContent {
  @include outer-container;
  padding-top: 30px;
}

.leftSide {
  @include span-columns(3);
}

.categories {
  background-color: white;
  border-radius: 3px;
}

.allCat {
  margin-left: 5px;
  text-decoration: none;
  color: #555;
  font-size: 13px;
  font-weight: bold;
}

.allCat:hover {
  border-bottom: 1px solid #555;
}
.sideLinks {
  margin-left: 20px;
  line-height: 1.4;
  text-decoration: none;
  font-size: 13px;
  color: $tealtext;
}

.sideLinks:hover {
  border-bottom: 1px solid $tealtext;
}

.refine {
  background-color: white;
  border-radius: 3px;
}

.iType {
  margin-left: 10px;
}

.divider {
  width: 90%;
  margin: 25px 5%;
  border-bottom: 1px solid #E1E3DF;
}



.rightSide {
  @include span-columns(9);
  @include omega;
}

.listing {
  @include span-columns(3);
  @include omega(3n);
  height: 220px;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}


